@charset "utf-8"

@import "./fonts.css"

@import "vars"
@import 'mixins'
@import 'sprite'

@import "../blocks/**/*.styl"

body
	background-color #fff

//Add sprite
// .class
//   sprite($s-name_image)

